<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg MDC: {%mdc}%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="akka.cluster.sharding" level="INFO"/>
    <logger name="akka.cluster.ddata" level="INFO"/>
    <logger name="com.datastax.oss" level="INFO"/>
    <logger name="akka.actor.TimerScheduler" level="INFO"/>
    <logger name="akka.persistence.cassandra" level="INFO"/>
    <logger name="io.netty.util.internal" level="INFO"/>
    <logger name="akka.remote.artery" level="INFO"/>
    <logger name="akka.io" level="INFO"/>
    <logger name="akka.http" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>

