<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg MDC: {%mdc}%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.cluster.sharding" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

